:root{
    background: rgb(191,2,18);
background: radial-gradient(circle, rgba(191,2,18,1) 0%, rgba(186,208,235,1) 100%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--background-color);
    font-family: sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a{
    text-decoration: none;
    outline: none;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

ul li:hover p{
    transform: scale(1.5);
    opacity: 1;
}
ul li:hover a{
    opacity: 1;
}
i{
    color: #ffffff;
}

.selector-menu {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.selector-menu a {
    background: rgba(121, 128, 133, 0.49);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 45px;
}
.selector-menu a:hover:not(:focus){
    background: rgba(76, 65, 65, 0.517);
}
.selector-menu a:focus {
    transform: scale(1.2);
    background: rgba(22, 11, 11, 0.906);
    box-shadow: 0 0 10px 2px rgba(222, 222, 222, 0.6);
}

.menu-container{
    width: 300px;
    max-height: 60%;
    overflow-y: auto;
}

.header-img{
    background:url("PomfretSchool.jpeg.zip");
    height: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.overlay{
    background: rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.balance{
    color:#fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.balance h2{
    font-size: 1.6rem;
}

.balance div{
    display: flex;
    align-items: center;
}

.balance p{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.list a, .list p{
    color:black;
    opacity: 0.4;
}


.item{
    background: #fff;
    padding:20px;
}

.item:not(:last-child){
    border-bottom: 1px solid #dedede;
}

.item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

